build/
out/
debug/
Debug/
Release/
MinSizeRel/
RelWithDebInfo/
Deployment/
Development/

compile_commands.json
.cache/

# IDE files
*.user
.vscode/

# python files
*.egg-info/
__pycache__/
*.so
*.pyi
.pytest_cache/
